/*laylayou*/
.img-user {
    width: 40px;
    height: 40px;
}
.hdl-swapper {
    height: 100vh;
}
.hdl-left {
    min-width: 240px;
    background-color: black;
}
.mainmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainmenu ul li.hdlitem a {
    text-decoration: none;
    color: white;
    line-height: 26px;
    display: block;
    padding: 7px;
    border-radius: 7px;
    transition: all 0.5;
    padding-left: 30px;
}

.mainmenu ul li.hdlitem a:hover {
    background-color: rgb(40, 43, 43);
}

.mainmenu ul li.item-sub ul.submenu {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.mainmenu ul li.active ul.submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.5;
}

.mainmenu ul li.hdlitem {
    position: relative;
}

.mainmenu ul li.hdlitem i.icon-left {
    color: white;
    position: absolute;
    left: 10px;
    top: 12px;
}

.mainmenu ul li.hdlitem i.icon-right {
    color: white;
    position: absolute;
    right: 10px;
    top: 12px;
}
.datarow .function_style {
    visibility: hidden;
}
.datarow:hover .function_style {
    visibility: visible;
}
